{% capture output %}
{% if site.cloudinary != '' %}
{% if include.pathonly != 'true' %}<img src="{% endif %}
http://res.cloudinary.com/{{ site.cloudinary }}/image/fetch/w_{{ include.width | default: "500"}},h_{{ include.height | default: "500"}}{{ include.quality | prepend: ",q_"}}{{ include.modes| default: "c_fill" | prepend: "," }}/{{ site.url }}{{ site.baseurl }}{{ include.img }}
{% if include.pathonly != 'true' %}" width="{{ include.width | default: 500 }}" height="{{ include.height | default: 500}}" />{% endif %}
{% else %}
{% if include.pathonly != 'true' %}<img src="{% endif %}{{ site.baseurl }}{{  include.img }}{% if include.pathonly != 'true' %} "/>{% endif %}
{% endif %}
{% endcapture %}{{ output | strip_newlines | replace:' ','' }}