
<div class="section section--contact" id="happen-contact">
  <div class="subsection subsection--contact">
      <h3 class="section-title">Get in touch</h3>
      <h4 class="section-subheading">We like hearing from new people</h4>
      <ul class="contact-details">
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
  </div>
  <form action="{{ site.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="subsection subsection--signup">
      <h3 class="section-title">Stay in touch</h3>
      <h4 class="section-subheading">Our ideas straight to your inbox</h4>
      <div class="form-input">
        <input type="email" id="mce-EMAIL" name="EMAIL">
        <input type="submit" value="Submit">
      </div>
      <p>(we won’t share your email address and you can unsubscribe any time)</p>

  </form>
</div>