<script>


  var body = document.querySelector('body');

  if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
    body.classList.add('ios');
  }

  var videoOverlay = document.createElement("div");
  videoOverlay.classList.add("video-overlay-wrapper");

  var videoWrapper = document.createElement("div");
  videoWrapper.classList.add("video-wrapper");

  var videoOverlayClose = document.createElement("button");
  videoOverlayClose.classList.add('button--video-close');
  videoOverlayClose.textContent = 'Close';

  videoOverlayClose.addEventListener('click', function(e) {
    this.parentNode.parentNode.parentNode.classList.remove('video-playing');
    this.parentNode.parentNode.removeChild(videoOverlay);

  });

  document.addEventListener('click', function(e) {
    if(e.target.dataset.video) {
      var currentVideo = document.querySelector('.video-playing');
      if(currentVideo) {
        // currentVideo.innerHTML = '';
        currentVideo.classList.remove('video-playing');
      }
      videoWrapper.innerHTML = urldecode(e.target.dataset.video);
      videoOverlay.appendChild(videoWrapper);
      videoOverlay.appendChild(videoOverlayClose);
      e.target.parentNode.appendChild(videoOverlay);
      e.target.parentNode.parentNode.classList.add('video-playing');
    }
  });

  var wrapper = document.querySelector('.hero-video-wrapper');
  var heroVideo = document.querySelector(".hero-video");
  if(heroVideo) {
    // heroVideo.load();
    heroVideo.oncanplaythrough = function() {
      setTimeout(function(){
        wrapper.classList.add('trigger');
      }, 500);
    };
  }
  function urldecode(str) {
   return decodeURIComponent((str+'').replace(/\+/g, '%20'));
  }


  /* Mailchimp */
  function newsletterSubmitted(event) {
      event.preventDefault();
      this._form = this.querySelector("form");
      this._action = this._form.getAttribute("action");
      this._email = this._form.querySelector("input.download-email").value;
      this._fname = this._form.querySelector("input.download-fname").value;
      this._lname = this._form.querySelector("input.download-lname").value;
      this._company = this._form.querySelector("input.download-company").value;

      document.MC_callback = function(response) {

          if(response.result == "success") {

              var successText = document.createElement("p");
              var successTextNode = document.createTextNode("Thank you. Click the button below to download.");
              successText.appendChild(successTextNode);
              downloadButton = document.createElement("a");
              var buttonText = document.createTextNode("Download");
              downloadButton.appendChild(buttonText);
              downloadButton.classList.add('button');
              var newsletterForm = newsletter.querySelector('form');
              downloadButton.setAttribute('href', newsletterForm.dataset.download);
              newsletter.appendChild(successText);
              newsletter.appendChild(downloadButton);
              newsletter.removeChild(newsletterForm);

          } else {
              alert('fail');
          }
      }

      // generate script
      this._script = document.createElement("script");
      this._script.type = "text/javascript";
      this._script.src = this._action + "&c=document.MC_callback&EMAIL=" + this._email + "&FNAME=" + this._fname + "&LNAME=" + this._lname + "&COMPANY=" + this._company;

      // append script to head
      document.getElementsByTagName("head")[0].appendChild(this._script);
  }

  var newsletter = document.querySelector("#newsletter-whitepaper");
  if(newsletter) {
    newsletter.addEventListener("submit", newsletterSubmitted);
  }

</script>

