.section--hero--casestudy
  &::after
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: linear-gradient(to bottom, $pink 0%, $medium-gray)
    background-image: linear-gradient(to bottom, var(--brand-colour) 0%, $medium-gray)
    opacity: .35
  .case-study-logo
    margin: 2 * $base-spacing $base-spacing $base-spacing
    max-width: 80%
    width: auto
    height: auto
    @media screen and (min-width: $medium-screen)
      max-width: 60%
    @media screen and (min-width: $large-screen)
      max-width: 50%

  .case-study-title
    padding: 0 $base-spacing
    margin: 0
    text-align: center
    color: white
    max-width: 90%
    @media screen and (min-width: $medium-screen)
      max-width: 70%
    text-shadow: 0 0 2 * $base-spacing rgba(0, 0, 0, 0.3)