.section--hero--casestudy
  .case-study-logo
    margin: 2 * $base-spacing $base-spacing $base-spacing
    max-width: 80%
    width: auto
    height: auto
    @media screen and (min-width: $medium-screen)
      max-width: 60%
    @media screen and (min-width: $large-screen)
      max-width: 50%

  .case-study-title
    padding: 0 $base-spacing
    margin: 0
    text-align: center
    color: white
    max-width: 70%
