.section--approach
  padding: 4 * $base-spacing 5vw
  position: relative
  .section-title
    text-align: center
  ul
    overflow: hidden
    width: 100%
    margin: 0 auto
    li
      overflow: hidden
      @media screen and (min-width: $medium-screen)
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
      padding: $base-spacing 0
      border-bottom: 2px solid $light-gray
      &:last-child
        border-bottom: none
    .approach--image
      position: relative
      order: 2
      margin: 0 auto
      width: 50vw
      height: 57.737vw /* width div 0.866 */
      @media screen and (min-width: $medium-screen)
        width: 30vw
        height: 34.642vw /* width div 0.866 */
        margin: 0
      align-self: flex-end
      flex: 0 0 auto
      overflow: hidden
      visibility: hidden
      transform: rotate(-60deg) skewY(30deg)
      transition: transform $base-duration $base-duration
    .approach--text
      padding: 0 $base-spacing
      text-align: center
      @media screen and (min-width: $medium-screen)
        text-align: left
        flex: 1 1 auto
        align-self: center
        order: 1
        max-width: calc(.45 * #{$xl-screen})
        padding-left: 0
        padding-right: 2 * $base-spacing

      h3
        margin: $small-spacing 0 $base-spacing
        @media screen and (min-width: $medium-screen)
          margin-top: 0
        &::after
          width: 30%
          height: .8 * $small-spacing
          background-color: $pink
          background-color: var(--brand-colour)
          content: ''
          display: block
          margin: $base-spacing auto 0
          @media screen and (min-width: $medium-screen)
            margin-left: 0
            margin-right: 0


    li:nth-child(2n+2)
      .approach--text
        @media screen and (min-width: $medium-screen)
          order: 3
          padding-right: 0
          padding-left: 2 * $base-spacing
    .approach--image *
      position: absolute
      visibility: visible
    .approach--image > div
      width: 100%
      height: 100%
      color: #fff
      overflow: hidden
      transform: skewY(-30deg) rotate(60deg)
      transition: transform $base-duration $base-duration, height $base-duration $base-duration
      -webkit-backface-visibility: hidden
      background-color: $pink
      background-color: var(--brand-colour)
    .approach--image:hover svg path
      fill: $medium-gray
    .approach--video-button
      border: none
      border-radius: 0
      top: 0
      left: 0
      height: 100%
      width: 100%
      padding: 0
      background-image: url(../images/playbutton.png)
      text-indent: -9999px
      background-size: 40%
      background-position: center
      background-repeat: no-repeat
      transition: $base-duration
      &:hover
        background-color: rgba(50,50,50,.2)
      &:focus
        outline: none
        border: none
        background-color: transparent
    /* HEX CONTENT
    .approach--image img
      left: -100%
      right: -100%
      width: auto
      height: 100%
      margin: 0 auto
      max-width: none
      transition: $base-duration

    .approach--title
      margin-bottom: 0
      font-size: modular-scale(1)
      @media screen and (min-width: $medium-screen)
        font-size: modular-scale(3)
      @media screen and (min-width: $large-screen)
        font-size: modular-scale(4)

    .video-playing.approach--image img
      opacity: 0
      transform: scaleY(0)
    .video-playing.approach--image .approach--video-button
      opacity: 0


.video-overlay-wrapper
  position: relative !important
  height: 100%
  width: 100%
  top: 0
  left: 0
  .video-wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  .button--video-close
    position: absolute !important
    left: 50%
    top: $small-spacing
    height: 2 * $base-spacing
    width: 2 * $base-spacing
    line-height: 2 * $base-spacing
    @media screen and (min-width: $medium-screen)
      top: 2 * $base-spacing
      height: 3 * $base-spacing
      width: 3 * $base-spacing
      line-height: 3 * $base-spacing
    padding: 0
    transform: translateX(-50%)
    box-sizing: border-box
    text-indent: -9999px
    &:active, &:focus
      outline: none
    &::after
      content: '×'
      text-indent: 0
      font-size: modular-scale(4)
      display: block
      position: absolute
      top: 0
      width: 2 * $base-spacing
      text-align: center
      @media screen and (min-width: $medium-screen)
        width: 2.8 * $base-spacing
