.site-header
  z-index: 99
  height: 2 * $base-spacing
  margin: 0 5vw
  position: absolute
  left: 0
  right: 0


.centered
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.section
  transform-style: preserve-3d
  position: relative
  max-width: 100%
  overflow-x: hidden

  &--hero
    height: 100vh
    min-height: 56.25vw
    border: 5vw solid white
    border-top-width: 10vw
    background-color: var(--brand-colour)
    background-size: cover
    background-position: center
    position: relative
    -webkit-font-smoothing: antialiased
    *
      z-index: 9
    &::after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      // background-image: linear-gradient(to bottom, var(--brand-colour) 75%, $dark-gray)
      background-image: linear-gradient(to bottom, var(--brand-colour) 0%, $medium-gray)
      opacity: .35
    + .section--hero
      border-top: none
      height: 95vh
      min-height: 51.25vw
    @media screen and (min-width: $medium-screen)
      border-top-width: 5vw
    @media screen and (orientation: landscape) and (min-width: $medium-screen)
      height: 56.25vw

  &--brief, &--what-we-do, &--our-work, &--results
    min-height: 100vh
    @media screen and (orientation: landscape) and (min-width: $medium-screen)
      min-height: 100vh
  &--brief, &--post-body
    width: 100%
    border: 5vw solid white
    border-top: none
  &--brief
    background-color: $light-gray
  &--what-we-do
    background-color: $dark-gray
    -webkit-font-smoothing: antialiased
    color: white
    .section-text
      @media screen and (min-width: $medium-screen)
        display: flex
        flex-direction: row
      .section-title
        flex: 0 1 50%
        text-align: left
        @media screen and (min-width: $medium-screen)
          font-size: modular-scale(5)
          margin-right: 2 * $base-spacing
          margin-right: calc(25.95vh/4)
          text-align: right
        &::after
          content: ''
          display: block
          width: 30%
          height: .8 * $small-spacing
          background-color: white
          margin: $small-spacing 0
          @media screen and (min-width: $medium-screen)
            margin: $base-spacing 0
            margin-left: auto
      .section-content
        flex: 0 1 50%
        text-align: left
        p
          font-size: modular-scale(0)
          &:first-child
            font-size: modular-scale(1)

  &--our-work
    height: 100vh
    &::before
      content: ''
      position: absolute
      top: 55%
      left: 0
      width: 100%
      height: 45%
      background-image: url(images/IMG_0797.jpg)
      background-size: cover
      background-position: center top
      @media screen and (min-width: $medium-screen)
        background-position: center bottom
        top: 0
        left: 50%
        width: 50%
        height: 100%
  &--who-we-are
    height: 100vh
    position: relative
    z-index: 99
    &::before
      content: ''
      position: absolute
      top: 55%
      left: 0
      width: 100%
      height: 45%
      background-image: url(images/IMG_0159.jpg)
      background-size: cover
      background-position: left top
      @media screen and (min-width: $medium-screen)
        background-position: left bottom
        top: 0
        left: 0%
        width: 50%
        height: 100%
  &--case-studies
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    @media screen and (orientation: landscape) and (min-width: $medium-screen)
      display: block
    .case-studies-wrapper
      overflow: hidden
  &--video
    border: 5vw solid white

.section-title
  font-size: modular-scale(3)
  margin-bottom: $small-spacing
  @media screen and (min-width: $large-screen)
    font-size: modular-scale(4)


.section-text
  position: relative
  padding: 5vw 5vw 0
  @media screen and (min-width: $medium-screen)
    padding: 5vw
  p
    &:last-child
      margin-bottom: 0
  &--center
    text-align: center
    padding: 0 $base-spacing
    @media screen and (min-width: $medium-screen)
      padding: 0
      width: percentage(10/12)
    @media screen and (min-width: $large-screen)
      width: percentage(8/12)
    @media screen and (min-width: $xl-screen)
      width: percentage(8/12)
    margin: 0 auto
  &--left, &--right
    -webkit-font-smoothing: antialiased
    background-color: $pink
    border-color: $pink
    color: white
    height: 55%
    .section-title
      margin-bottom: 0
      &::after
        content: ""
        display: block
        width: 30%
        height: .8 * $small-spacing
        background-color: white
        margin: $small-spacing 0 $small-spacing
        @media screen and (min-width: $medium-screen)
          margin: $base-spacing 0 $base-spacing
    @media screen and (min-width: $medium-screen)
      height: 100vh
      width: 50vw
    &::after
      box-sizing: border-box
      content: ''
      display: block
      position: absolute
      top: 100%
      left: 0
      width: 100%
      text-align: left
      border-left: 50vw solid transparent
      border-right: 50vw solid transparent
      border-top: 10vh solid
      border-top-color: inherit
      @media screen and (min-width: $medium-screen)
        top: 0
        height: 100vh
        // width: 28.87vh
        // border-top: 28.125vw solid transparent
        // border-bottom: 28.125vw solid transparent
        width: 50vw
        border-top: 50vh solid transparent
        border-bottom: 50vh solid transparent
  &--left
    float: left
    @media screen and (min-width: $medium-screen)
      padding-left: $small-spacing
    @media screen and (min-width: $large-screen)
      padding-left: calc(28.87vh/2)
      padding-right: calc(28.87vh/4)
    &::after
      @media screen and (min-width: $medium-screen)
        left: 100%
        border-left: 12vw solid
        border-left-color: inherit

  &--right
    float: right
    padding-right: $small-spacing
    @media screen and (min-width: $large-screen)
      padding-right: calc(28.87vh/2)
      padding-left: calc(28.87vh/4)
    &::after
      @media screen and (min-width: $medium-screen)
        right: 100%
        left: auto
        border-right: 15vw solid
        border-right-color: inherit
