.section--post-body
  position: relative
  overflow-x: visible
  border-bottom: none
  margin-bottom: 10 * $base-spacing
  .video-wrapper
    margin-bottom: 3 * $base-spacing
  .social-icons
    position: sticky
    top: $small-spacing
    height: 0
    margin-top: 0
    margin-bottom: 0
    margin-left: -3.5 * $base-spacing
    width: 0
    li
      margin-bottom: $small-spacing/2
      opacity: .35
      transition: opacity $base-duration
      &:last-child
        margin-bottom: 0
      &:hover
        opacity: 1

.section--hero--post
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-end
  &::before
    content: ''
    width: 100%
    height: 100%
    background-size: cover
    background-position: center
    @media screen and (min-width: $medium-screen)
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
  &::after
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: linear-gradient(to bottom, $pink 0%, $medium-gray)
    background-image: linear-gradient(to bottom, var(--brand-colour) 0%, $medium-gray)
    opacity: .35


.section-text--post
  padding: 0
  @media screen and (min-width: $medium-screen)
    width: percentage(9/12)
    margin-left: percentage(1.5/12)
  @media screen and (min-width: $large-screen)
    width: percentage(7/12)
    margin-left: percentage(2.5/12)
  @media screen and (min-width: $xl-screen)
    width: percentage(5/12)
    margin-left: percentage(3.5/12)
  p:first-child
    font-size: modular-scale(1)
    font-weight: 700
    margin-bottom: $base-spacing
  h1,h2,h3,h4,h5,h6
    margin-top: 1.5 * $base-spacing
    margin-bottom: $small-spacing
  iframe
    margin-top: $base-spacing
    margin-bottom: 2 * $base-spacing
  ul,ol
    padding-left: $base-spacing
    margin-bottom: $base-spacing
  ul
    list-style-type: square
  ol
    list-style-type: decimal

.post-header
  background-color: white
  padding: $base-spacing 0 0
  @media screen and (min-width: $medium-screen)
    padding: $small-spacing $base-spacing 0
    width: calc(#{percentage(9/12)} + #{2 * $base-spacing})
    margin-left: calc(#{percentage(1.5/12)} - #{$base-spacing})
  @media screen and (min-width: $large-screen)
    width: calc(#{percentage(7/12)} + #{2 * $base-spacing})
    margin-left: calc(#{percentage(2.5/12)} - #{$base-spacing})
  @media screen and (min-width: $xl-screen)
    width: percentage(8/12)
    margin-left: calc(#{percentage(3.5/12)} - #{$base-spacing})
  .post-title
    font-size: modular-scale(3)
    @media screen and (min-width: $medium-screen)
      font-size: modular-scale(4)
    @media screen and (min-width: $large-screen)
      font-size: modular-scale(5)
    margin-bottom: 0

.post-date
  font-size: modular-scale(1)
  font-style: italic
  font-weight: 700
  color: $pink
  margin-top: $small-spacing !important
  margin-bottom: 0 !important
  position: relative
  z-index: 99


#newsletter-whitepaper
  margin-top: 2 * $base-spacing
  padding: $base-spacing 2 * $base-spacing
  border: .4rem solid $pink
  h2
    margin-top: 0
    margin-bottom: $base-spacing
  form

  input[type='submit'], .button
    color: $pink
    margin-top: $small-spacing
    border-color: $pink