.section--contact
  background-color: $pink
  -webkit-font-smoothing: antialiased
  margin: 0
  padding: $base-spacing 5vw
  flex: 1 1 50%
  display: flex
  justify-content: space-around
  flex-direction: column
  @media screen and (min-width: $large-screen)
    flex-direction: row
    align-items: center
  .contact-details
    color: white
    font-size: modular-scale(3)
    font-weight: 700
    a, a:hover
      color: white

    @media screen and (min-width: $medium-screen)
      font-size: modular-scale(4)
  .form-input
    display: flex
    input
      -webkit-appearance: none
      line-height: calc(#{2.5 * $base-spacing} - .8rem)
      height: 2.5 * $base-spacing
      font-size: modular-scale(2)
      border-radius: 1.5 * $base-spacing
      border: .4rem solid $light-gray
      transition: border-color $base-duration, background-color $base-duration, color $base-duration
      &:first-child
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        flex: 1 1 85%
        padding: 0 $base-spacing
        @media screen and (min-width: $medium-screen)
          padding: 0 2 * $base-spacing
        border-right: none
        &:focus, &:focus + input
          border-color: $dark-gray
          color: $dark-gray
      &:last-child
        padding: 0 $small-spacing
        @media screen and (min-width: $medium-screen)
          padding: 0 1.5 * $base-spacing 0 1 * $base-spacing
        border-top-left-radius: 0
        font-weight: 200
        -webkit-font-smoothing: antialiased
        font-size: modular-scale(1)
        border-bottom-left-radius: 0
        flex: 1 1 15%
        margin-left: -2px
        background-color: $light-gray
        color: $medium-gray
        &:hover
          background-color: $medium-gray
          color: white !important
  .section-title
    color: white
    margin-bottom: $small-spacing/2

  .section-subheading
    color: $light-gray
    margin-bottom: 1.5 * $base-spacing
    font-size: modular-scale(1)
    @media screen and (min-width: $large-screen)
      font-size: modular-scale(2)
  p
    margin-top: $small-spacing
    font-size: modular-scale(0)
    color: $light-gray

.subsection--signup,.subsection--contact
  padding: $small-spacing
  flex: 0 1 auto
  @media screen and (min-width: $medium-screen)
    padding: $base-spacing calc(25.95vh/8)

  @media screen and (min-width: $large-screen)
    flex: 0 1 50%
    padding: $base-spacing calc(25.95vh/4)


.subsection--signup
  margin-bottom: 0