---
layout: default
photo: '/images/PRA-03.jpg'
---
  <section class="section section--hero section--hero--blog centered"  style="background-image: url('{% include cloudinary.html img="/images/PRA-03.jpg" width="1600" height="900" quality="70" modes="c_fill,e_sharpen"  pathonly="true" %}')">
    <h1 class="case-study-logo">Fresh ideas</h1>
    <h2 class="case-study-description">Welcome to the HappenDigital blog</h2>
  </section>

  <section class="section section--blog">
    <div class="background"></div>
    <ul>
      {% for post in site.posts %}
      <li>
          <div class="blog--image">
            <a href="{{ post.url | prepend:site.baseurl}}">
              {% include cloudinary.html img=post.image width="900" height="900" modes="c_fill,g_face,e_sharpen" quality="85" %}
            </a>
          </div>
          <a class="blog--text" href="{{ post.url | prepend:site.baseurl}}">
            <p class="blog--date">{{ post.date | date: "%d.%m.%y" }}</p>
            <h1 class="blog--title">{{ post.title }}</h1>
            {% include chevrons.svg %}
          </a>
      </li>
      {% endfor %}
    </ul>
  </section>