---
layout: default
---

<section class="section--hero" style="background-color: #6a148f;">
  <img class="case-study-logo" src="images/zoopla-logo.svg" alt="Zoopla Property Group">
  <div class="case-study-text">
    <p>We helped Zoopla Property Group explain its services</p>
  </div>
</section>

<section class="section section--background">
  <div class="section-text section-text--center">
    <h2 class="section-title">Under attack by a new competitor</h2>
    <p>Under attack from a new competitor, Zoopla wanted to make sure its existing and potential clients fully understood the benefits of its services. It had lost nearly a quarter of its customers	 to OnTheMarket, which was offering estate and letting agents preferential deals if they signed exclusively with it and only one other property portal.</p>
  </div>
</section>

<section class="section section--brief section--our-work">
  <div class="section-text section-text--left" style="background-color: #6a148f; border-color: #6a148f">
      <h2 class="section-title">Our brief was to make things clear</h2>
      <p>As the number two in the market - behind RightMove - Zoopla was hardest hit by this tactic. It responded by re-examining its B2B marketing, and commissioned Happen to develop and produce a series of video animation explainers, with the aim of convincing agents to stick with or switch to Zoopla. </p>
  </div>
</section>

<section class="section section--blog">
  <h2 class="section-title">our approach</h2>

  <ul>
    <li>
      <div class="blog--image">
        <div>
          <img src="images/IMG_0206.jpg" alt=""/>
        </div>
      </div>
      <div class="blog--text">
        <p>In consultation with the Zoopla team, Happen developed a look (including a cast of characters) and format for the animations. These explained how Zoopla’s key digital products worked and showed their impact on customers’ businesses. We have now made explainers for almost all of Zoopla’s products: from its remarketing service AdReach, to Property File, its app for tenants, vendors and agents. Our animations are distributed via traditional digital channels and also used in presentations by Zoopla’s 100+ strong sales team.</p>
      </div>
    </li>
    <li>
      <div class="blog--text">
        <p>Happen also helped Zoopla overhaul the content section, Extra, of its ZooplaPro portal for agents. We assisted with its redesign and drew up a content plan with its B2B marketing team. We also worked with them to develop and produce a series of short thought leadership video interviews with Zoopla senior staff. These provided actionable advice for agents about how to make their businesses more effective online.</p>
      </div>
      <div class="blog--image">
        <div>
          <img src="images/IMG_0163.jpg" alt=""/>
        </div>
      </div>
    </li>
    <li>
      <div class="blog--image">
        <div>
          <img src="images/IMG_0109.jpg" alt=""/>
        </div>
      </div>
      <div class="blog--text">
        <p>Happen has also worked closely with Zoopla to explain the strategy behind its acquisition of the price comparison website uSwitch and the Property Software Group, which provides cloud and desktop services for estate agents. This has allowed it to offer more services and, by integrating their platforms, new ways for agents to serve their customers and make money. We have produced content explaining this ‘market, manage and maximise’ strategy aimed at its customers and investors.</p>
      </div>
    </li>
    <li>
      <div class="blog--text">
        <p>Happen has also worked with Zoopla’s B2C team. We made a video about its Running Costs tool with TV property expert Phil Spencer, and have recently produced a series of video guides with him to promote Zoopla’s new Move service to homemovers. Move guides people through the moving process, helping them prioritise jobs, find vetted moving services and save time and money. The series features advice for buyers and sellers and formats created for Facebook and Instagram.</p>
      </div>
      <div class="blog--image">
        <div>
          <img src="images/IMG_0109.jpg" alt=""/>
        </div>
      </div>
    </li>


  </ul>
</section>

<section class="section section--brief section--our-work">
  <div class="section-text section-text--right" style="background-color: #6a148f; border-color: #6a148f">
    <h2>“These new videos and animations have helped us win new customers and convince existing ones to use more of our services. We couldn’t be happier.”</h2>
    <p>Danielle Gauci, Head of Marketing, Zoopla Property Group</p>
  </div>
</section>


<section class="section section--hero">
  <div class="hero-video-wrapper">
    <iframe class="cover-video" src="https://player.vimeo.com/video/109700173" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="section section--background">
  <div class="section-text section-text--center">
    <h2 class="section-title">Job done</h2>
    <p>Since Happen has started working with Zoopla, the company has shrugged off OnTheMarket’s challenge, winning back approximately 600 estate agents as of November last year. Its last full-year results saw its revenue rising from property services by 9%, to £87m. Over the year to September last year it had 927,000 properties listed on its site - up almost 10% year on year - from more than 23,000 estate agents and other customers.</p>
  </div>
</section>
