---
layout: default
---

<style>
  body {
    --brand-colour: {{ page.color }};
  }
</style>

<section class="section section--hero section--hero--casestudy centered" style="background-image: url('{% include cloudinary.html img=page.image width="1600" height="900" quality="70" modes="c_fill,e_sharpen"  pathonly="true" %}')">
  <img class="case-study-logo" src="{{site.baseurl}}{{ page.logo }}" alt="{{ page.title }}">
  <h2 class="case-study-description">{{page.description}}</h2>
</section>

{% if page.brief and page.brief != '' %}
  <section class="section section--brief centered">
    <div class="section-text section-text--center" >
      <h2 class="section-title">the challenge</h2>
      <div class="section-content">
        {{page.brief | markdownify }}
      </div>
    </div>
  </section>
{% endif %}

{% if page.outputs and page.outputs != '' %}
  <section class="section section--approach">
    <h2 class="section-title">our approach</h2>
    <ul>
      {% for output in page.outputs %}
        <li>
          <div class="approach--image">
            <div>
              {% include cloudinary.html img=output.image width="600" height="600" modes="c_fill,g_faces,e_sharpen" quality="85" %}
              {% if output.video %}
              <button class="approach--video-button" data-video="{{ output.video | url_encode}}">
                play
              </button>
              {% endif %}
            </div>
          </div>
          <div class="approach--text">
            <h3>{{ output.heading }}</h3>
            <p>{{ output.body | markdownify }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if page.videos and page.videos != '' %}
<div class="videos-wrapper">
  {% for video in page.videos %}
    <section class="section section--video">
      <div class="video-wrapper video-wrapper--case">
        {{ video }}
      </div>
    </section>
  {% endfor %}
</div>
{% endif %}

{% if page.quote and page.quote != '' %}
  <section class="section section--quote">
    <div class="section-text section-text--center" >
      {{page.quote | markdownify }}
    </div>
  </section>
{% endif %}

{% if page.results and page.results != '' %}
  <section class="section section--results centered">
    <div class="section-text section-text--center">
      <h2 class="section-title">Job done</h2>
      {{page.results | markdownify }}
    </div>
  </section>
{% endif %}