{% include head.html %}



<body class="{{page.layout}}">
  {% if page.layout == 'home' or page.layout == 'blog'%}
    <div style="position: fixed; top: 0px; width: 1px; height: 1px; z-index: 1;"></div>
    <div class="viewport">
  {% endif %}

  {% include header.html %}
  {{ content }}
  <div class="footer-wrap">
    {% include contact.html %}
    {% include footer.html %}
  </div>

  {% if page.layout == 'home' or page.layout == 'blog'%}
    </div>
  {% endif %}


  {% include scripts.html %}

</body>