---
layout: default
---

<section class="section section--hero">
  <div class="hero-video-wrapper">
    <div class="spinner-wrapper">
      {% include spinner.svg %}
    </div>

    <video class="cover-video hero-video" poster="{{ site.baseurl }}/images/happenposter.jpg" data-dashjs-player autoplay preload loop muted playsinline>
      <!-- <source type="application/x-mpegurl" src="https://res.cloudinary.com/letsdance/video/upload/sp_hd/v1492647843/Happen_Splash_video_edit_03_mdibgm.m3u8">
      <source type="application/dash+xml" src="https://res.cloudinary.com/letsdance/video/upload/sp_hd/v1492647843/Happen_Splash_video_edit_03_mdibgm.mpd"> -->

      <source type="video/mp4" src="https://res.cloudinary.com/{{ site.cloudinary }}/video/upload/v1492647843/Happen_Splash_video_edit_03_mdibgm.mp4">
      <source type="video/webm" src="https://res.cloudinary.com/{{ site.cloudinary }}/video/upload/v1492647843/Happen_Splash_video_edit_03_mdibgm.webm">

    </video>
    <div class="hero-title">
      <h2><span>Explain</span><span>Yourself</span></h2>
      <p>{{ site.description }}</p>
    </div>

  </div>
</section>

<section class="section section--what-we-do centered">
  <div class="section-text section-text--center">
    <h2 class="section-title">We’ll help you explain yourself.</h2>
    <div class="section-content">
      <p><strong>We’re Happen Digital, and we create engaging content, provide editorial consultancy and deliver effective training.</strong></p>
      <p>If you’re struggling to get your message across, we offer decades of experience in some of the world’s leading news organisations – experience we now put to good use helping brands communicate.</p>
      <p>We’ve already helped household names like Zoopla, Slack and Teach First tell their story, and we’d love to help you do the same.</p>
    </div>
  </div>
</section>

<section class="section section--our-work">
  <div class="section-text section-text--left centered">
    <h2 class="section-title">We’re experts at making complicated things clear.</h2>
    <p>Everyone knows what a fishmonger sells but not everyone understands how a technology company such a Slack can help their business.
    <p>The most innovative brands have the greatest need to explain themselves, and we specialise in working for organisations using technology and creative thinking to change the world.</p>
  </div>
</section>

<section class="section section--case-studies">
  <ul class="case-studies-wrapper">
    {% for case in site.case %}
    <li class="case-study" style="background-color: {{ case.color }}">
      <img class="case-study-logo" src="{{ site.baseurl }}/images/{{ case.logo }}" alt="{{ case.title }}">
      <div class="case-study-text">
        <p>{{ case.description }}</p>
        <a href="{{ site.baseurl }}{{ case.url }}" type="button">Find out how</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="section section--who-we-are">
  <div class="section-text section-text--right centered">
    <h2 class="section-title">Our background is in journalism.</h2>
    <p><strong>Founder</strong>, Tom Happold, worked on the BBC 10 O’clock News and Channel 4 News before spending a decade at the Guardian, where he launched Comment is Free and established its multimedia department. He led its move into live blogging, social media and web video. </p>
    <p><strong>Head of content</strong>, Elliot Smith, is associate editor of Newsshooter, the leading website for filmmakers and camera operators.</p>
  </div>
</section>

<section class="section section--blog">
  <div class="background"></div>
  <ul>
    {% for post in site.posts limit:site.max_home_posts %}
    <li>
        <div class="blog--image">
          <a href="{{ post.url | prepend:site.baseurl}}">

            {% include cloudinary.html img=post.image imgpath="images/posts/" width="750" height="750" modes="c_fill,g_face" quality="70" %}
          </a>
        </div>
        <a class="blog--text" href="{{ post.url | prepend:site.baseurl}}">
          <p class="blog--date">{{ post.date | date: "%d.%m.%y" }}</p>
          <h1 class="blog--title">{{ post.title }}</h1>
          {% include chevrons.svg %}
        </a>
    </li>
    {% endfor %}
  </ul>
  {% if site.posts.size > site.max_home_posts %}
  <div class="section-text section-text--center">
    <a href="#" class="button button--blog-all">read all</a>
  </div>
  {% endif %}

</section>