---
layout: default
---

<style>
  body {
    --brand-colour: rgb(192, 15, 106);
  }
</style>

<section class="section section--hero section--hero--post"  style="background-image: url('{% include cloudinary.html img=page.image width="1600" height="900" quality="50" pathonly="true" %}')">
  <header class="post-header">
    <h1 class="post-title">{{page.title}}</h1>
  </header>
</section>

<section class="section section--post-body">
  <!-- <p class="post-date">{{ page.date | date: "%d.%m.%y" }}</p> -->
  <div class="section-text section-text--post">
    {{content}}
  </div>
</section>