---
layout: default
---

<section class="section section--hero">
  <div class="hero-video-wrapper">
    <div class="spinner-wrapper">
      {% include spinner.svg %}
    </div>

    <video class="hero-video" data-dashjs-player autoplay preload loop>
      <!-- <source type="application/x-mpegurl" src="https://res.cloudinary.com/letsdance/video/upload/sp_hd/v1492647843/Happen_Splash_video_edit_03_mdibgm.m3u8">
      <source type="application/dash+xml" src="https://res.cloudinary.com/letsdance/video/upload/sp_hd/v1492647843/Happen_Splash_video_edit_03_mdibgm.mpd"> -->

      <source type="video/mp4" src="https://res.cloudinary.com/letsdance/video/upload/v1492647843/Happen_Splash_video_edit_03_mdibgm.mp4">
      <source type="video/webm" src="https://res.cloudinary.com/letsdance/video/upload/v1492647843/Happen_Splash_video_edit_03_mdibgm.webm">

    </video>
    <h2 class="hero-title"><span>Explain</span><span>Yourself</span></h2>
    <!-- <h2 class="hero-title hero-title--demo"><span>y</span>e<span>o</span>x<span>u</span>p<span>r</span>l<span>s</span>a<span>e</span>i<span>l</span>n<span>f</span></h2> -->

  </div>
</section>

<section class="section section--what-we-do">
  <div class="section-text section-text--center">
    <h2 class="section-title">We’ll help you explain yourself.</h2>
    <p>If you’re struggling to get your message across, we offer decades of experience in some of the world’s leading news organisations – experience we now put to good use helping brands communicate. We do that by creating effective content and by providing editorial consultancy and training.</p>

  </div>
</section>

<section class="section section--our-work">
  <div class="section-text section-text--left">
    <h2 class="section-title">We’re experts at making complicated things clear.</h2>
    <p>Everyone knows what a fishmonger sells but not everyone understands how a technology company such a Slack can help their business.
    <p>The most innovative brands have the greatest need to explain themselves, and we specialise in working for organisations using technology and creative thinking to change the world.</p>
  </div>
</section>

<section class="section section--case-studies shorter">
  <div class="case-study case-study--zoopla">
    we've helped
    <img class="case-study-logo" src="images/zoopla-logo.svg" alt="Zoopla Property Group">
    <div class="case-study-text">
      <p>We helped Zoopla Property Group explain its services</p>
      <a href="" type="button">Find out how</a>
    </div>
  </div>
  <div class="case-study case-study--slack">
    <img class="case-study-logo" src="images/slack-logo.svg" alt="Slack">
    <div class="case-study-text">
      <p>We helped Slack explain the difference it makes to its customers</p>
      <a href="" type="button">Find out how</a>
    </div>
  </div>
  <div class="case-study case-study--sinfonia">
    <img class="case-study-logo" src="images/sinfonia-logo.svg" alt="City of London Sinfonia">
    <div class="case-study-text">
      <p>We helped the City of London Sinfonia explain its mission</p>
      <a href="" type="button">Find out how</a>
    </div>
  </div>
  <div class="case-study case-study--moneysupermarket">
    <img class="case-study-logo" src="images/moneysupermarket-logo.svg" alt="Money Supermarket">
    <div class="case-study-text">
      <p>We helped MoneySupermarket.com organise itself more like a newsroom</p>
      <a href="" type="button">Find out how</a>
    </div>
  </div>
</section>

<section class="section section--who-we-are">
  <div class="section-text section-text--right">
    <h2 class="section-title">Our background is in journalism.</h2>
    <p><strong>Founder</strong>, Tom Happold, worked on the BBC 10 O’clock News and Channel 4 News before spending a decade at the Guardian, where he launched Comment is Free and established its multimedia department. He led its move into live blogging, social media and web video. </p>
    <p><strong>Head of content</strong>, Elliot Smith, is associate editor of Newsshooter, the leading website for filmmakers and camera operators.</p>
  </div>
</section>

<section class="section section--blog">
  <ul>
    <li>
      <div class="blog--image">
        <div>
          <img src="images/IMG_0206.jpg" alt=""/>
        </div>
      </div>
      <div class="blog--text">
        <h1 class="blog--title">How to commission good animation</h1>
        <p class="blog--date">19th May 2017</p>
      </div>
    </li>
    <li>
      <div class="blog--text">
        <h1 class="blog--title">On location for the Publishers Association</h1>
        <p class="blog--date">19th May 2017</p>
      </div>
      <div class="blog--image">
        <div>
          <img src="images/IMG_0163.jpg" alt=""/>
        </div>
      </div>
    </li>
    <li>
      <div class="blog--image">
        <div>
          <img src="images/IMG_0109.jpg" alt=""/>
        </div>
      </div>
      <div class="blog--text">
        <h1 class="blog--title">Train your staff to make videos</h1>
        <p class="blog--date">19th May 2017</p>
      </div>
    </li>


  </ul>
</section>