html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  height: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;
  &.home, &.blog {
    overflow: hidden;
    .viewport {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      -webkit-overflow-scrolling: touch;
      -webkit-perspective: 1px;
              perspective: 1px;
      -webkit-transform: translateZ(0);
              transform: translateZ(0)
    }
  }
  &.iosx {
    overflow-x: initial;
    overflow-y: initial;
    -webkit-overflow-scrolling: touch;
    .section--blog .background {
      -webkit-transform: none;
              transform: none;
    }
    .viewport {
      height: auto
    }
  }
}

